.postList {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #e3dcdc;
    position: sticky;
    top: 0;
    z-index: 100;
}

.deleteButton {
    padding: 10px;
    background-color: #e3dcdc;
    color: rgb(51, 50, 50);
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    font-family: "Do Hyeon", sans-serif;
    margin-right: 9px;
}

.backButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    color: black;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.postInfo h2 {
    font-size: 18px;
    margin: 0;
}

.postInfo p {
    font-size: 14px;
    color: #555;
}

.postImage {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    object-fit: cover;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #e3dcdc;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 100;
}

.navButton {
    padding: 10px;
    background-color: #e3dcdc;
    color: rgb(51, 50, 50);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Do Hyeon", sans-serif;
}